/* var dark color #C3DFE0 
    var light color #E1E5F2

*/    
* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    margin: 0;
  }
  div {
    border: 1px solid black;
  }
  
  p {
    margin: 0;
  }
  