/* var dark color #C3DFE0 
    var light color #E1E5F2

*/    
* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    margin: 0;
  }
  div {
    border: 1px solid black;
  }
  
  p {
    margin: 0;
  }
  .project1 {
    background-image: url("../images/02-portfolio-3.jpg");
    background-repeat: no-repeat;
  }
  .project2 {
    background-image: url("../images/02-portfolio-1.jpg");
    background-repeat: no-repeat;
  }
  .project3 {
    background-image: url("../images/02-portfolio-1.jpg");
    background-repeat: no-repeat;
  }
  .project4 {
    background-image: url("../images/02-portfolio-1.jpg");
    background-repeat: no-repeat;
  }
  .project5 {
    background-image: url("../images/02-portfolio-1.jpg");
    background-repeat: no-repeat;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .flex-item {
    display: flex;
    align-items: flex-end;
    flex-basis: calc(50% - 1em);
    margin: .5em;
    min-height: 150px;
    border: solid 4px black;
  }
  .flex-item:first-child {
    min-height: 300px;
    flex-basis: 100%;
  }
  .flex-item div {
    background-color: lightgreen;
    padding: 10px;


  }
  @media screen and (max-width: 768px) { 
    .flex-item {
      flex-basis: 100%;
    }
  }
  